<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Little Radio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <h1 id="name"></h1>
    <h2 id="artist">
        </h1>
        <p id="location"></p>
        <button id="next">Next Song</button>
        <button id="shuffle">Shuffle Song</button>
        <!-- <button id="pause">Pause</button>
        <button id="next">Next</button> -->
        <audio controls id="audio" preload="auto" autoplay>
            <source id="source" src="/music/test.mp3" type="audio/mpeg">
        </audio>
        <script type="text/javascript">
            $(document).ready(function () {
                var i = 0;
                var source = $("#source");

                function update(num) {
                    $.get('/api/', function (data) {
                        $("#name").text(data[num].Name);
                        $("#artist").text(data[num].Artist);
                    });
                };

                function loadAndNext(loc, num) {
                    $.get('/api/', function (data) {
                        var loc = "";
                        loc = data[num].Location
                        loc = loc.replace(
                            "file://localhost/C:/Users/Jarred/Desktop/radio-player/xml-parser/working/public/music/singles",
                            "/music/singles");
                        $('audio').attr('src', loc);
                        if (i === data.length - 1) i = 0;
                        else i++;
                    });
                };

                loadAndNext(update(i), i);

                $("#next").click(function () {
                    $('audio').attr('src', '');
                    loadAndNext(update(i), i);
                });

                $("#shuffle").click(function () {
                    $('audio').attr('src', '');
                    $.get('/api/', function (data) {
                        var i = Math.floor((Math.random() * data.length) - 1);
                        console.log(i);
                        loadAndNext(update(i), i);
                    });
                });

                $("#audio").bind('ended', function () {
                    $('audio').attr('src', '');
                    loadAndNext(update(i), i);
                });
            });
        </script>
</body>

</html>