<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Little Radio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <script src="/js/jQuery-3.3.1.js"></script>
    <script src="/js/popper-1.14.4.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto align-content-center">
                    <img id="artwork" src="/images/no-cover.jpg" class="rounded mx-auto d-block" alt"/images/no-cover.jpg">
            </div>
        </div>
    <!-- audi info row -->
        <div class="row justify-content-md-center">
            <div id="music-info" class="col-md-auto align-content-center">
                <p id="name"></p>
                <p id="artist"></p>
            </div>
        </div>
        <!-- audio player row -->
        <div class="row justify-content-center">
            <div class="col-2">
                <i id="next" class="fas fa-angle-double-right"></i>
                <i id="shuffle" class="fas fa-random"></i>
            </div>
            <div class="col-10">
                <div class="player-box" style="position:relative;">
                    <audio controls id="audio" preload="auto" style="width: 100%" autoplay>
                        <source id="source" src="/music/test.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var i = 0;
            var source = $("#source");

            function update(num) {
                $.get('/api/', function (data) {
                    $("#name").text(data[num].Name);
                    $("#artist").text(data[num].Artist);
                });
            };

            function loadAndNext(loc, num) {
                $.get('/api/', function (data) {
                    var loc = "";
                    loc = data[num].Location
                    loc = loc.replace(
                        "file://localhost/C:/Users/Jarred/Desktop/radio-player/xml-parser/working/public/music/singles",
                        "/music/singles");
                    $('audio').attr('src', loc);
                    if (i === data.length - 1) i = 0;
                    else i++;
                });
            };

            loadAndNext(update(i), i);

            $("#next").click(function () {
                $('audio').attr('src', '');
                loadAndNext(update(i), i);
            });

            $("#shuffle").click(function () {
                $('audio').attr('src', '');
                $.get('/api/', function (data) {
                    var i = Math.floor((Math.random() * data.length) - 1);
                    console.log(i);
                    loadAndNext(update(i), i);
                });
            });

            $("#audio").bind('ended', function () {
                $('audio').attr('src', '');
                loadAndNext(update(i), i);
            });
        });
    </script>
</body>

</html>